@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:white">
    <!--<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
   
    <img style="height: 400px; width:1200px; padding-right:200px" src="~/img/anan.jpg" />
    <p style="color:black; padding-left:55px; font-family:monospace; font-size:xx-large">The Impulse to Travel is one of the hopeful symptoms of life</p>
   
</div>

<div class="row" style="padding-left:120px">

    <div class="col-md-6">
        <h2>Sign Up As Agent</h2>
        <p>
            Update And Maintain 
            Travel Packages And 
            Hotels.
        </p>
        <p><a class="btn btn-default" href="~/AGENTs/Create">Sign Up &raquo;</a></p>
    </div>

    <div class="col-md-6">
        <h2>Sign Up As User</h2>
        <p>Explore Various Packages Available And Also Book Hotels.</p>
        <p><a class="btn btn-default" href="~/CUSTOMERs/Create">Sign Up &raquo;</a></p>
    </div>

   <!-- <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    -->
</div>