USE [master]
GO
/****** Object:  Database [TRIVAGO2]    Script Date: 09-11-2019 16:23:14 ******/
CREATE DATABASE [TRIVAGO2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRIVAGO2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TRIVAGO2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRIVAGO2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TRIVAGO2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRIVAGO2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRIVAGO2]
GO
/****** Object:  Table [dbo].[AGENT]    Script Date: 09-11-2019 16:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENT](
	[AGENTID] [varchar](5) NOT NULL,
	[NAME] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[CONTACT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_AGENT] PRIMARY KEY CLUSTERED 
(
	[AGENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 09-11-2019 16:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUSTOMERID] [varchar](5) NOT NULL,
	[NAME] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[CONTACT] [varchar](50) NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL]    Script Date: 09-11-2019 16:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL](
	[HOTELID] [varchar](5) NOT NULL,
	[NAME] [varchar](50) NULL,
	[CONTACT] [varchar](50) NULL,
	[LOCATION] [varchar](50) NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[AGENTID] [varchar](5) NULL,
 CONSTRAINT [PK_HOTEL] PRIMARY KEY CLUSTERED 
(
	[HOTELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOTEL_BOOKING]    Script Date: 09-11-2019 16:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOTEL_BOOKING](
	[HOTELID] [varchar](5) NOT NULL,
	[CUSTOMERID] [varchar](5) NOT NULL,
	[CHECK_IN] [date] NULL,
	[CHECK_OUT] [date] NULL,
 CONSTRAINT [PK_HOTEL_BOOKING] PRIMARY KEY CLUSTERED 
(
	[HOTELID] ASC,
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGE_BOOKING]    Script Date: 09-11-2019 16:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGE_BOOKING](
	[PACKAGEID] [varchar](5) NOT NULL,
	[CUSTOMERID] [varchar](5) NOT NULL,
	[BOOKING_DATE] [date] NULL,
 CONSTRAINT [PK_PACKAGE_BOOKING] PRIMARY KEY CLUSTERED 
(
	[PACKAGEID] ASC,
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACKAGES]    Script Date: 09-11-2019 16:23:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACKAGES](
	[PACKAGEID] [varchar](5) NOT NULL,
	[PRICE] [varchar](50) NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[ACTIVITIES] [varchar](50) NULL,
	[NO_OF_DAYS] [varchar](50) NULL,
	[PLACES] [varchar](200) NULL,
	[AGENTID] [varchar](5) NULL,
 CONSTRAINT [PK_PACKAGES] PRIMARY KEY CLUSTERED 
(
	[PACKAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOTEL]  WITH CHECK ADD  CONSTRAINT [FK_HOTEL_AGENT] FOREIGN KEY([AGENTID])
REFERENCES [dbo].[AGENT] ([AGENTID])
GO
ALTER TABLE [dbo].[HOTEL] CHECK CONSTRAINT [FK_HOTEL_AGENT]
GO
ALTER TABLE [dbo].[HOTEL_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_HOTEL_BOOKING_CUSTOMER] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[HOTEL_BOOKING] CHECK CONSTRAINT [FK_HOTEL_BOOKING_CUSTOMER]
GO
ALTER TABLE [dbo].[HOTEL_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_HOTEL_BOOKING_HOTEL] FOREIGN KEY([HOTELID])
REFERENCES [dbo].[HOTEL] ([HOTELID])
GO
ALTER TABLE [dbo].[HOTEL_BOOKING] CHECK CONSTRAINT [FK_HOTEL_BOOKING_HOTEL]
GO
ALTER TABLE [dbo].[PACKAGE_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_PACKAGE_BOOKING_CUSTOMER] FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMER] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[PACKAGE_BOOKING] CHECK CONSTRAINT [FK_PACKAGE_BOOKING_CUSTOMER]
GO
ALTER TABLE [dbo].[PACKAGE_BOOKING]  WITH CHECK ADD  CONSTRAINT [FK_PACKAGE_BOOKING_PACKAGES] FOREIGN KEY([PACKAGEID])
REFERENCES [dbo].[PACKAGES] ([PACKAGEID])
GO
ALTER TABLE [dbo].[PACKAGE_BOOKING] CHECK CONSTRAINT [FK_PACKAGE_BOOKING_PACKAGES]
GO
ALTER TABLE [dbo].[PACKAGES]  WITH CHECK ADD  CONSTRAINT [FK_PACKAGES_AGENT] FOREIGN KEY([AGENTID])
REFERENCES [dbo].[AGENT] ([AGENTID])
GO
ALTER TABLE [dbo].[PACKAGES] CHECK CONSTRAINT [FK_PACKAGES_AGENT]
GO
USE [master]
GO
